body, html {
  height: 100%;
}

body {
  margin: 0px;
  background-image: url("https://vignette2.wikia.nocookie.net/outlast/images/8/84/Sewers.jpg/revision/latest?cb=20140303170846");
  font-size: 18px;
}

body, a:link, a:visited, a:active {
  color: lightblue;
}

.title, .addDancerButton {
  padding: 5px 12px;
  float: right;
}

.topbar {
  height: 32px;
  background-color: #555;
}

.title {
  background-color: #777;
}

.blinkyDancer {
  content:url("http://randomacc.net/system/reviews/tmnt-fotfc-turtle.gif-c200");
  height: auto; 
  width: auto; 
  max-width: 5000px; 
  max-height: 5000px;
  position: absolute;
}

.blobDancer {
  content:url("http://img80.laughinggif.com/pic/HTTPS9tZWRpYS5naXBoeS5jb20vbWVkaWEvN3FXQ1UwNURRVXFNby9naXBoeS5naWYlog.gif");
  height: auto; 
  width: auto; 
  max-width: 250px; 
  max-height: 250px;
  position: absolute;
}

.turtleDancer {
  content:url("https://media.giphy.com/media/aL6JAYyRuNsXe/giphy.gif");
  position: absolute;
}

span .turtleDancer {
  position: left;
}
